[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
python-dotenv = "*"
pypdf = "*"
pymongo = "*"
langchain-openai = "*"
tiktoken = "*"
langchain-community = "*"
gpt4all = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
